<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tarefas App</a>
  </div>
</nav>

<div class="container">
  <h3>Tarefas</h3>
  <hr/>
  <form [formGroup]="tarefaForm" (ngSubmit)="cadastrarTarefa()" >
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição da tarefa</label>
      <input id="descricao" formControlName="descricao" type="text" class="form-control"  aria-describedby="descricaoHelp">
      <div id="descricaoHelp" class="form-text">Informe uma descrição</div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar Tarefa</button>
  </form>
</div>
