<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tarefas App</a>
  </div>
</nav>

<div class="container">
  <h3>Tarefas</h3>
  <hr/>
  <form>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição da tarefa</label>
      <input type="email" class="form-control" id="descricao" aria-describedby="descricaoHelp">
      <div id="descricaoHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar Tarefa</button>
  </form>
</div>
